/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 mar 2025, 19:31:56
    Author     : dasly
*/
.boton-volver {
    -fx-background-color: #3498db;  
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
    -fx-position: absolute;
    -fx-layout-x: 20px;   
    -fx-layout-y: 20px;   
}