
*{
    -fx-color-celeste:#7BD5F5;
    -fx-color-morado:#787FF6;
    -fx-color-verde_agua:#4ADEDE;
    -fx-color-azul:#1CA7EC;
    -fx-color-azul_oscuro:#1F2F98;
    -fx-color-naranja:#FFD091;
     -fx-color-medium_slate_blue: #6666ff;
-fx-color-periwinkle: #b8baff;
-fx-color-columbia_blue: #c9e8ff;
-fx-color-rich_black: #0c0c16;
-fx-color-celadon: #b9f0d7;

   
}

.anchor-pane {
    -fx-background-color: -fx-color-columbia_blue;
}

.button {
   -fx-background-color: -fx-color-azul;
   -fx-padding: 5;
   -fx-text-fill: white;
   -fx-font-size: 18px;
   -mfx-button-type:RAISED;
   -fx-alignment:CENTER;
   -fx-font-weight:bold;
}
.button:hover,.button:focused {
   -fx-background-color: -fx-color-azul_oscuro;
}


.jfx-button-long-text{
    -fx-font-size: 12px;
}

.label {
    -fx-text-fill: black;
    -fx-font-weight:bold;
}

BorderPane {
    -fx-background-color: -fx-color-columbia_blue;
}
